
.topimg {
  top: 0;
  color:black;
  background-color: #fd7e35;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(53, 72, 155);
}

li {
  float: left;
}

li a {
  display:block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #fd7e35;
}

div {
  margin: auto;
  padding-left: 25%;
  padding-right: 20%;
}

.footer {
  background-color: rgb(53, 72, 155);
  color: white;
  text-align: center;
  padding: 3px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
#banner {
  width: 800px;
  height: 400px;
  border: 2px solid #999;
  overflow: hidden;
}

#imglist {
  width: 3200px;
  height: 400px;
}

#imglist img {
  width: 800px;
  height: 400px;
}

#imglist li {
  float: left;
}